body {
  background-color: #f7fff7;
}

#main-container {
  font-family: 'Chelsea Market', cursive;
  display: grid;
  grid-template-rows: 0fr 0fr 0fr 5fr;
  justify-items: center;
}

h1 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 5px;
  font-size: 4em;
  color: #ff6b6b;
}

h2{
  text-align: center;
  color: #292f36;
}

a {
  text-decoration: none;
  color: #4ecdc4;
}

a:hover {
  color: #ffa62b;
}

#modal-startgame {
  /*display: none;*/
  position: fixed;
  padding-top: 250px;
  z-index: 1;
  left: 0;
  top: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  transition: 1s;
}

#modal-startgame-content {
  margin: auto;
  padding: 20px;
  background-color: #f7fff7;
  width: 550px;
  border-radius: 10px;
  display: grid;
  justify-items: center;
}

#startgame-header {
  font-family: 'Chelsea Market', cursive;
  text-align: center;
  font-size: 2.5em;
  color: #292f36;
  padding: 10px;
}

label {
  font-family: 'Chelsea Market', cursive;
  font-size: 2em; 
  text-align: center;
}

#p1-input, #label-p1-input {
  color: #4ecdc4;
}

#p2-input, #label-p2-input {
  color: #ffa62b;
}

input {
  font-family: 'Chelsea Market', cursive;
  font-size: 1em; 
  margin: 20px;
  border-radius: 10px;
  border: 4px solid;
  width: 50%;
  padding: 5px 10px 5px 10px;
  outline: none;
}

#startgame-button-div {
  text-align: center;
  padding: 10px;
  width: 100%;
}

#startgame-button {
  font-family: 'Chelsea Market', cursive;
  margin-top: 20px;
  border: 5px solid #292f36;
  background-color: #292f36; 
  color: #f7fff7;
  font-size: 2em;
  width: 40%;
  border-radius: 10px;
  transition: 0.3s;
}

#startgame-button:hover {
  border: 5px solid #292f36;
  color: #292f36;
  background-color: #f7fff7;
  transition: 0.3s;
}

#reset-button-div {
  width: 100%;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  align-items: center;
}

#player-1-display {
  font-size: 2em;
  color: #4ecdc4;
  justify-self: right;
}

#player-2-display {
  font-size: 2em;
  color: #ffa62b;
  justify-self: left;
}

#reset-button {
  font-family: 'Chelsea Market', cursive;
  border: 5px solid #ff6b6b;
  background-color: #ff6b6b; 
  color: #f7fff7;
  font-size: 2em;
  width: 120px;
  border-radius: 10px;
  transition: 0.3s;
  justify-self: center;
}

#reset-button:hover {
  border: 5px solid #4ecdc4;
  background-color: #f7fff7;
  color: #4ecdc4;
  transition: 0.3s;
}

#game-board {
  margin-top: 30px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  width: 550px;
  height: 550px;
  border: 5px solid #292f36;
  border-radius: 10px;
}

.cell {
  display: grid;
  align-items: center;
  justify-items: center;
  border: 5px solid #292f36;
  font-size: 7em;
  color: #ffa62b;
}

#modal-endgame {
  display: none;
  position: fixed;
  padding-top: 250px;
  z-index: 1;
  left: 0;
  top: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  transition: 1s;
}

#modal-endgame-content {
  margin: auto;
  padding: 20px;
  background-color: #f7fff7;
  width: 35%;
  border-radius: 10px;
}

#endgame-display {
  font-family: 'Chelsea Market', cursive;
  text-align: center;
  font-size: 2.5em;
  color: #292f36;
  padding: 10px;
}

#play-again-button-div {
  text-align: center;
  padding: 10px;
}

#play-again-button {
  font-family: 'Chelsea Market', cursive;
  margin-top: 20px;
  border: 5px solid #ffa62b;
  background-color: #ffa62b; 
  color: #f7fff7;
  font-size: 2em;
  border-radius: 10px;
  transition: 0.3s;
}

#play-again-button:hover {
  border: 5px solid #4ecdc4;
  background-color: #4ecdc4;
  color: #f7fff7;
  transition: 0.3s;
}
